body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("coinsBackground.jpg");
  background-size: 100%;
}

* {
    box-sizing: border-box;
}

h1 {
  font-family: sans-serif;
  color: #006666;
}

.table-info {
  width: 35%;
  background-color: #FFECB3;
  border: 6px solid #006666;
  border-radius: 20px;
  margin: auto;

}

.table-info ul {
  text-align: left;
}

.table-info li {
  font-family: sans-serif;
  font-size: 18px;
  color: #006666;
  line-height: 24px;
}

.currency-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 500px;
  max-width: 1000px;
  padding-top: 20px;
  margin: auto;
}

.currency-cell, .selected-cell {
  display: flex;
  flex-direction: column;
  border: 2px solid #455A64;
  background-color: #ECF8FF;
  min-width: 160px;
  height: 60px;
  font-size: 24px;
  text-align: center;
}

.currency-cell h4 {
  font-family: sans-serif;
  color: #455A64;
  line-height: 24px;
  padding: 2px 0;
  margin:0;
}

.currency-cell p {
  line-height: 24px;
  margin:0;
}

.selected-cell {
  border: 3px solid #C2185B;
}

.selected-cell h4 {
  font-family: sans-serif;
  color: #C2185B;
  line-height: 24px;
  padding-top: 2px;
  margin:0;
}

.selected-cell p {
  line-height: 24px;
  margin:0;
  color: green
}

.base-input {
  line-height: 18px;
  font-size: 18px;
  margin:0;
  width: 80px;
  margin:auto;
}

#hidden-rates {
  display:none;
}
